In [1]:
import pandas as pd
import numpy as np
import time
import sklearn
import matplotlib as mpl
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
path = './household_power_consumption_1000.txt'

In [3]:
names = ['Date','Time','Global_active_power','Global_reactive_power','Voltage','Global_intensity','Sub_metering_1','Sub_metering_2','Sub_metering_3']

In [4]:
df = pd.read_csv(path,sep = ';' )

In [5]:
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,15/1/2007,13:17:00,0.500,0.130,243.350,2.400,0.000,0.000,0.0
1,15/1/2007,13:18:00,0.512,0.130,243.000,2.400,0.000,0.000,0.0
2,15/1/2007,13:19:00,0.508,0.132,243.520,2.400,0.000,0.000,0.0
3,15/1/2007,13:20:00,0.504,0.126,242.660,2.400,0.000,0.000,0.0
4,15/1/2007,13:21:00,0.504,0.132,243.570,2.400,0.000,0.000,0.0

In [6]:
new_df = df.replace('?', np.nan)

In [7]:
datas = new_df.dropna(how='any')
datas.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,15/1/2007,13:17:00,0.500,0.130,243.350,2.400,0.000,0.000,0.0
1,15/1/2007,13:18:00,0.512,0.130,243.000,2.400,0.000,0.000,0.0
2,15/1/2007,13:19:00,0.508,0.132,243.520,2.400,0.000,0.000,0.0
3,15/1/2007,13:20:00,0.504,0.126,242.660,2.400,0.000,0.000,0.0
4,15/1/2007,13:21:00,0.504,0.132,243.570,2.400,0.000,0.000,0.0

In [8]:
def date_format(dt): 
    import time
    t=time.strptime(' '.join(dt),'%d/%m/%Y %H:%M:%S')
    return(t.tm_year,t.tm_mon,t.tm_mday,t.tm_hour,t.tm_min,t.tm_sec)

In [9]:
X = datas[names[0:2]]
X = X.apply(lambda x :pd.Series(date_format(x)),axis=1)
Y = datas[names[2]]

In [10]:
print(X.head(5))
print(Y.head(5))

      0  1   2   3   4  5
0  2007  1  15  13  17  0
1  2007  1  15  13  18  0
2  2007  1  15  13  19  0
3  2007  1  15  13  20  0
4  2007  1  15  13  21  0
0    0.500
1    0.512
2    0.508
3    0.504
4    0.504
Name: Global_active_power, dtype: object

In [11]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
ss=StandardScaler()
X_train = ss.fit_transform(X_train)
X_test = ss.transform(X_test)

In [14]:
lr = LinearRegression()
lr.fit(X_train,Y_train)

LinearRegression()

In [15]:
y_predict = lr.predict(X_test)
TC=lr.score(X_train,Y_train)
print('TC:\n',TC)

TC:
 0.10578348172580221

In [17]:
t = np.arange(len(X_test)
plt.figure(facecolor='w')
plt.plot(t,Y_test,'r-',linewidth=2,label=u'TD')
plt.plot(t,y_predict,'g-',linewidth=2,label=u'PD')
plt.legend(loc='lower right')
plt.title(u'Tp&P',fontsize=20)
plt.grid(b=True)
plt.show()

SyntaxError: invalid syntax (<ipython-input-17-6a9eab70cc08>, line 2)